[Desktop Entry]
Name=Commitic
Comment=Commit-AI: Automatize suas mensagens de commit.
Exec=/opt/commitic/bin/commitic
Icon=/opt/commitic/lib/commitic.png
Terminal=false
Type=Application
Categories=Development;
# Esta linha OBRIGA o Linux a agrupar a janela ao ícone fixado
StartupWMClass=org-tavioribeiro-commitic-MainKt